.debug-row {
    height: 30px;
}

.debug-row button {
    height: 30px;
}

.languages__row {
    display: flex;
    flex-direction: row;
    
    height: 100vh;
    /* stand-in value to be used whilst the debug row is shown */
    /*height: calc(100vh - 30px);*/
}

.language__column {
    background-color: #333;
    border: 1px solid #fff;
    color: white;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.language__column--width-sized {
    flex: 0 0 50%;
}

.language__column--width-rest {
    flex-grow: 1;
}

.langauge__column--invalid {
    filter: brightness(0.5) grayscale(1);
}

.language__divider {
    width: 6px;
    cursor: col-resize;
}

.language__header,
.language__footer {
    font-size: large;
    font-weight: bold;
}

.language__header label {
    margin-left: 40px;
}

.language__editor {
    flex-grow: 1;
    width: 100%;
}
